<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration status="warn" name="MyApp" packages="">
 
 <Appenders>
  <File name="File" fileName="log/ClockFile.log">
   <PatternLayout
   pattern="%d{dd/MM/yyyy - HH:mm:ss} | %-5level | %logger{36} -> %M() -> %msg%n" />
  </File>
  
  <Console name="Console" target="SYSTEM_OUT">
   <PatternLayout
   pattern="%d{dd/MM/yyyy - HH:mm:ss} | %-5level | %logger{36} -> %M() -> %msg%n" />
  </Console>
 </Appenders>
 
 <Loggers>
  <logger name="everis.com" level="ALL" additivity="false">
   <AppenderRef ref="File" level="INFO" />
   <AppenderRef ref="Console" level="ALL"/>
  </logger>
  
  <Root level="ERROR">
  </Root>
 </Loggers>
 
</Configuration>